
ul
    li makan
        li minum
        //set attribute for tag
        input(type='text').username#username

        //change variable value
        - var condition = true
        if condition
            p Hai people

            - var thisisArray = [1,2,4]
            each val in thisisArray
                p=val